/* This is a universal selector applying the font family to the entire webpage */
* {
    font-family:Arial, Helvetica, sans-serif;
}
/* This is giving my header shape and style */
header {
    background-image: linear-gradient(to bottom right, rgb(115, 175, 227), rgb(228, 186, 133));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -17px;
}
/* This class is directly affecting the main heading of my webpage */
.first-header {
    background-color: rgb(213, 70, 99);
    color: rgb(115, 175, 227);
    display: flex;
    padding-left: 90px;
    padding-right: 10px;
    margin-left: 10px; 
}
/* This is also affecting my main heading */
h1 {
    margin: 30px;
    color:rgb(115, 175, 227);
    
}
.header-links {
    margin: 30px;
}
a {
    text-decoration: none;
    border-bottom: solid;
    color: rgb(213, 70, 99);
}
.subtitle {
    background-image: url(../images/background.jpg);
    height: 200px;
    background-size: cover;
    margin: -17px;
    position: relative;
    
    }
.h2 {
	font-size: 25px;
    width: 150px;
    height: 40px;
    background-color: rgb(213, 70, 99);
    color:rgb(115, 175, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 70%;
    top: 50%;
    

    
    
    
}
.work-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 5;

}
main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,rgb(228, 186, 133), rgb(115, 175, 227));
    margin: -17px;
}
section {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
p {
    font-size: 75%;

}
.heading-style {
    border-right: solid;
    padding: 10px;
    border-width: 2px;
    padding-left: 200px;
}
.heading-style-2 {
    border-right: solid;
    padding: 10px;
    border-width: 2px;
    padding-left: 214px;
}
.heading-style-3 {
    border-right: solid;
    padding: 10px;
    border-width: 2px;
    margin-left: -295px;
}
.heading-style-4 {
    border-right: solid;
    padding: 10px;
    border-width: 2px;
    margin-left: 65px;
}

#coffee-image {
    max-width: 91%;
    height: auto;
    border: solid;
    border-width: 1px;
    border-color: rgb(213, 70, 99);
    margin: 5px;
    position: relative;
    display: flex;
}

figcaption {
    
    position: absolute;
    display: flex;

    top: 975px;
    background-color:rgb(213, 70, 99);
    font-size: 20px;
    max-width: 15%;
}

#placeholder {
    max-width: 45%;
    max-height: 300px;
    height: auto;
    border: solid;
    border-width: 1px;
    border-color: rgb(213, 70, 99);
    margin: 5px;
}

.img-link {
    border-bottom: none;
}


ul {
    list-style-type: none;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 20px;
    padding: 10px;
}
@media screen and (max-width: 200px) { 
       header {
        size: 100%;
       } 
}
@media screen and (max-width: 200px) {
    body {
        size: 100%;
    }
}




